header {
  margin-top: 5px;
  margin-bottom: 15px;
}

footer {
  position: fixed;
  margin-left: 15px;
  width: calc(100% - 30px);
  bottom: 5px;
}

@media (min-width: 768px) {
  footer {
    left: 8.33%;
    width: calc(83.33% - 30px);
  }
}

@media (min-width: 1200px) {
  footer {
    left: 25%;
    width: calc(50% - 30px);
  }
}

.badge-primary {
  margin-left: 5pt;
}

body {
  background-image: url(img/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-size: 12pt;

  margin-bottom: 70px;
  background-color: gray;
}
