.card-deck{
  margin: 0 0 1rem 0;
}

.card {
  margin-top: 1rem;
}

.card-deck .card {
  margin: 1rem 0 0 0;
}

.badge-primary {
  margin-left: 5pt;
}

@media (max-width: 768px) {
  .sticky-top {
    position: relative;
  }
}

.carousel img {
  height: 150pt;
}

@media (min-width: 768px) { 
  .carousel img {
    height: 300pt;
  }
}

body {
  background-image: url(img/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: gray;

  font-size: 12pt;
}
